
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero Section -->
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light text-dark">
    <div class="text-center p-4">
        <h1 class="display-2 fw-bold mb-4">Welcome to <span class="text-primary">LibManage</span> 📚</h1>
        <p class="lead mb-4">
            Your complete Library Management System to handle books, authors, genres, and lending with ease.
        </p>


        <a asp-controller="Catalog" asp-action="Index" class="btn btn-primary btn-lg shadow-sm px-4 py-2"> 
             📖 Explore Book Catalog 
         </a>

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-controller="Book" asp-action="Index" class="btn btn-primary btn-lg shadow-sm px-4 py-2">
                📖 Book List
            </a>
        }
        

       
    </div>
</div>

